<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Transaction</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container mt-4">
    <h2 class="text-primary">Add Transaction</h2>
    <form action="/api/transactions/add" method="post">
        <div class="mb-3">
            <label class="form-label">Enter 28 comma-separated values</label>
            <textarea class="form-control" name="features" rows="4" required></textarea>
        </div>
        <button type="submit" class="btn btn-success">Submit</button>
        <a href="/api/transactions/view" class="btn btn-outline-primary ms-2">View All</a>
    </form>
</div>
</body>
</html>


<!-- 0.345, -1.234, 0.123, 0.386, 1.356, 0.560, 1.36, -1.356, 
    0.748, 1.101, 1.32, 1.10, 0.98, 1.038, 0.754, 1.78, 
    0.45, 1.58, 0.25, 1.02, 1.39, 0.98, 0.21, 0.78, 
    1.32, 0.78, 1.221, 1.234, 236.23 -->